global
    daemon
    maxconn 4096

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend public
    bind *:8080
    use_backend cog if { path_sub /callback }
    use_backend shimmer if { path_beg /authorize /deauthorize /authorizations /omh-shims-api /data }
    use_backend emr if { path_beg /openmrs }
    use_backend act if { path_beg /act }
    use_backend plan if { path_beg /plan }
    default_backend cog

backend shimmer
    option forwardfor
    server shimmer1 resource-server:8083

backend cog
    option forwardfor
    server cog1 drishti-cog:8080

backend emr
    option forwardfor
    server emr1 drishti-emr:8080

backend act
    reqrep ^([^\ ]*\ /)act[/]?(.*)     \1\2
    server act1 drishti-act:8080

backend plan
    reqrep ^([^\ ]*\ /)plan[/]?(.*)     \1\2
    server plan1 drishti-plan:3000

listen stats
  bind :5001
  stats enable
  stats uri /haproxy
  stats auth user:pass
